In [1]:
import pandas as pd

In [9]:

# Load the dataset
#data = pd.read_csv(r'https://raw.githubusercontent.com/mahenderthota/wine-quality/refs/heads/eda/unclean_winequality_red.csv')
data = pd.read_csv(r'unclean_winequality_red.csv')

# Display the first few rows of the dataset to get an overview
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,-10.0,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,NaN,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,100.0,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,NaN,3.51,0.56,9.4,5

In [4]:
# 1. Check for missing values in the dataset
missing_values = data.isnull().sum()
missing_values

fixed acidity           0
volatile acidity        0
citric acid             1
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 1
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [5]:

# 2. Check for outliers and invalid values (e.g., negative values, extreme outliers)
summary_stats = data.describe()
summary_stats

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1600.000000,1600.000000,1599.000000,1600.000000,1600.000000,1600.000000,1600.000000,1599.000000,1600.000000,1600.000000,1600.000000,1600.000000
mean,8.307938,0.527928,0.270951,2.538406,0.087459,15.871875,46.460000,0.996747,3.311238,0.658088,10.478719,5.636250
std,1.799897,0.179055,0.194833,1.409578,0.047051,10.457596,32.886514,0.001887,0.154418,0.169472,2.480001,0.807368
min,-10.000000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,100.000000,8.000000

In [6]:
# Step 1: Impute missing values with the median for "citric acid" and "density"
data['citric acid'].fillna(data['citric acid'].median(), inplace=True)
data['density'].fillna(data['density'].median(), inplace=True)

In [7]:
# Step 2: Remove rows with unrealistic or negative values
wine_data_cleaned = data[(data['fixed acidity'] > 0) & (data['alcohol'] < 20)]  # Limiting alcohol to below 20% as a reasonable range for wines

In [8]:
# Step 3: Verify the cleaning by displaying summary statistics and missing values
cleaned_missing_values = wine_data_cleaned.isnull().sum()
cleaned_summary_stats = wine_data_cleaned.describe()

cleaned_missing_values, cleaned_summary_stats

(fixed acidity           0
 volatile acidity        0
 citric acid             0
 residual sugar          0
 chlorides               0
 free sulfur dioxide     0
 total sulfur dioxide    0
 density                 0
 pH                      0
 sulphates               0
 alcohol                 0
 quality                 0
 dtype: int64,
        fixed acidity  volatile acidity  citric acid  residual sugar  \
 count    1598.000000       1598.000000  1598.000000     1598.000000
 mean        8.317584          0.527863     0.270932        2.538767
 std         1.740252          0.178843     0.194642        1.410369
 min         4.600000          0.120000     0.000000        0.900000
 25%         7.100000          0.390000     0.090000        1.900000
 50%         7.900000          0.520000     0.260000        2.200000
 75%         9.200000          0.640000     0.420000        2.600000
 max        15.900000          1.580000     1.000000       15.500000

          chlorides  free sulfur dioxide  total sulfur dioxide      density  \
 count  1598.000000          1598.000000           1598.000000  1598.000000
 mean      0.087461            15.865457             46.438673     0.996746
 std       0.047079            10.461609             32.901334     0.001888
 min       0.012000             1.000000              6.000000     0.990070
 25%       0.070000             7.000000             22.000000     0.995600
 50%       0.079000            14.000000             38.000000     0.996750
 75%       0.090000            21.000000             62.000000     0.997830
 max       0.611000            72.000000            289.000000     1.003690

                 pH    sulphates      alcohol      quality
 count  1598.000000  1598.000000  1598.000000  1598.000000
 mean      3.311402     0.658123    10.423123     5.636421
 std       0.154443     0.169566     1.066081     0.807665
 min       2.740000     0.330000     8.400000     3.000000
 25%       3.210000     0.550000     9.500000     5.000000
 50%       3.310000     0.620000    10.200000     6.000000
 75%       3.400000     0.730000    11.100000     6.000000
 max       4.010000     2.000000    14.900000     8.000000  )

In [ ]:
# Replace negative values with NaN
data_cleaned = data.copy()
numeric_cols = data_cleaned.select_dtypes(include=['float64', 'int64']).columns
data_cleaned[numeric_cols] = data_cleaned[numeric_cols].map(lambda x: x if x >= 0 else None)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.400000,0.70,0.000000,1.9,0.076,11.0,34.0,0.997800,3.51,0.56,9.4,0
1,8.319387,0.88,0.000000,2.6,0.098,25.0,67.0,0.996800,3.20,0.68,9.8,0
2,7.800000,0.76,0.270951,2.3,0.092,15.0,54.0,0.997000,3.26,0.65,9.8,0
3,11.200000,0.28,0.560000,1.9,0.075,17.0,60.0,0.998000,3.16,0.58,15.0,1
4,7.400000,0.70,0.000000,1.9,0.076,11.0,34.0,0.996747,3.51,0.56,9.4,0

In [ ]:
# Impute missing values (using mean for simplicity)
data_cleaned.fillna(data_cleaned.mean(), inplace=True)

In [ ]:
# Handle outliers - Capping alcohol values at a reasonable upper bound (let's assume 15% as a reasonable threshold)
data_cleaned['alcohol'] = data_cleaned['alcohol'].apply(lambda x: min(x, 15))

In [ ]:
# Change the values of quality to 0s and 1s where 0 means poor quality and 1 means good quality.
data_cleaned['quality'] = data_cleaned['quality'].apply(lambda x: 0 if x <= 5 else 1)
# Display the cleaned dataset for verification
data_cleaned.head()

In [10]:
data['quality'] = data['quality'].apply(lambda x: 0 if x <= 5 else 1)

In [11]:
data.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,-10.0,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,NaN,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,100.0,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,NaN,3.51,0.56,9.4,0
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,1
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,0
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,1
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,1
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,0

In [15]:
data.to_csv('cleaned_winequality_red-1.csv', index=False)